{% load static %}
<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
  <div class="flex-w p-b-90">
    <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3" style="padding-left: 30px;">
      <h4 class="s-text12 p-b-30">A QUICK OVERVIEW ON HOW WE HELP KEEP THINGS SUSTAINABLE</h4>

      <div>
        <p class="s-text7 w-size27">
          ReUnite is an online marketplace that connects students on campus to promote the reuse of goods, fostering
            a sustainable and community-driven environment.
        </p>
      </div>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4" style="margin-left: auto;">
      <h4 class="s-text12 p-b-30">Profile</h4>
      <ul>
        <li class="p-b-9">
          <a href="{% url 'account_login' %}" class="s-text7">Login</a>
        </li>

        <li class="p-b-9">
          <a href="{% url 'account_signup' %}" class="s-text7">SignUp</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
  </span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>
