{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <h1>{% trans "Password Reset" %}</h1>
                
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <form method="POST" action="{% url 'core:password_reset' %}" class="password-reset-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">{% trans "Username" %}</label>
                        <input type="text" name="username" id="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">{% trans "New Password" %}</label>
                        <input type="password" name="new_password" id="new_password" class="form-control" required>
                    </div>
                    <button class="btn btn-primary" type="submit">{% trans "Reset Password" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
